In [6]:
import pandas as pd
import numpy as np

In [34]:
constituencies = pd.read_csv("constituencies_names.csv")
constituencies = constituencies.rename(columns = {"pcon19nm" : "Constituency"})

In [60]:


# Random numbers for data
data = pd.DataFrame(np.random.randint(7, 12000, size = (650, 5)), columns = ["A", "B", "C", "D", "E"])
data = data.set_index(constituencies["Constituency"])
data
# data.style.format({"A": "{:20,.0f}", 
#                           "B": "{:20,.0f}", 
#                           "C": "{:20,.0f}",
#                           "D":"{:20,.0f}",
#                           "E": "{:20,.0f}"})

data.style.hide(axis='columns')

In [58]:
data = pd.DataFrame(np.random.randint(7, 12000, size = (650, 4)), columns = ["Available wind area (sq.km)", "Expected wind output (MW)", "Available solar area (sq. km)", "Expected solar output (MW)"])
data = data.set_index(constituencies["Constituency"])
data = data.rename_axis("Constituency")

# # Output dataframe
# st.dataframe(data = data.style.format({"Available wind area (sq.km)": "{:20,.0f}", 
#                           "Expected wind output (MW)": "{:20,.0f}", 
#                           "Available solar area (sq. km)": "{:20,.0f}",
#                           "Expected solar output (MW)":"{:20,.0f}"}), width = 1000, height = 750)


# Calculate total potential
potentials = pd.DataFrame()
data["Expected wind output (MW)"].sum()
potentials["Test"] = [data["Expected solar output (MW)"].sum()]
potentials

      Test
0  3855932

In [39]:
total_output = data["A"].sum()
total_output

3965981

In [14]:
# # Calculate available area

# # Calculate expected output: full resources, wind
# full_output_wind = []
# for i in range(len(data)):
#     full_output_wind.append(i * 19.8)

# # Calculate expected output: limited resources, wind
# limited_output_wind = []
# for i in range(len(data)):
#     limited_output_wind.append(i * 5)

# # Calculate expected output: full resources, solar
# full_output_solar = []
# for i in range(len(data)):
#     full_output_solar.append(i * 200)
# # Calculate expected output: limited resources, solar
# limited_output_solar = []
# for i in range(len(data)):
#     full_output_solar.append(i * 50)
# # Calculate total energy potential